@media (min-width: 1025px) and (max-width: 1400px) {
  .headermain .logo img {
    width: 120px !important;
  }

  .workimg img {
      height: 350px;
      width: 260px;
    }
  

  .carousel .list {
    max-width: 60% !important;
    left: 50%;
  }
  .carousel .list .item {
    top: 18% !important;
  }
  .carousel .list .item .introduce .title {
    font-size: 4em !important;
  }
  .carousel .list .item .introduce .topic {
    font-size: 1em !important;
  }
  .videocustom {
    height: 440px !important;
  }
  .reflection {
    height: 430px !important;
  }

  .marqueetext {
    font-size: 180px !important;
    top: 49% !important;
  }
  .custombtnshero {
    font-size: 18px !important;
  }

  .maintext {
    font-size: 160px !important;
    line-height: 150px !important;
  }

  .bannervideo {
    width: 80% !important;
    height: 580px !important;
  }

  .bannerreflection {
    width: 80% !important;
    height: 580px !important;
  }
}
@media screen and (max-width: 1024px) {
  .maintext {
    font-size: 200px;
    line-height: 190px;
  }

  .indiatxt {
    font-size: 120px;
  }

  .maintextbusiness {
    font-size: 130px;
  }

  .joinusheadingtxt,
  .logoheadingfooter {
    font-size: 80px;
  }

  .aboutheadings {
    font-size: 120px;
  }

  .bannervideo,
  .bannerreflection {
    height: 500px;
  }
}

@media screen and (max-width: 767px) {
  header {
    height: 80px;
    justify-content: space-between;
  }

  header nav a {
    margin-left: 15px;
    font-size: 14px;
  }

  .hideInMobile {
    display: none;
  }
  .hideInDesktop {
    display: block;
  }

  .marqueetext {
    width: 100%;
    font-size: 150px;
    top: 63%;
  }
  .headermain .logo img {
    width: 100px;
  }
  .nav-desktop {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .maintext {
    font-size: 75px;
    line-height: 70px;
    font-weight: 400;
  }

  .indiatxt {
    font-size: 80px;
  }

  .details {
    font-size: 10px;
  }
  .details_1 {
    font-size: 12px;
    margin-top: -50px;
  }
  .aboutsec {
    height: 50vh;
  }
  .maintextbusiness {
    font-size: 90px;
    line-height: 90px;
  }

  .businessdetailstxt {
    font-size: 16px;
    line-height: 35px;
  }

  .joinusheadingtxt,
  .logoheadingfooter {
    font-size: 80px;
  }

  .aboutheadings {
    font-size: 80px;
  }
  .aboutheading {
    font-size: 20px;
  }

  .aboutcontenthero {
    font-size: 16px;
    /* width: 90%; */
  }

  .phone a {
    font-size: 22px;
  }

  .bannervideo,
  .bannerreflection {
    height: 220px;
  }
  .videosec {
    height: 40vh;
  }
  .custombtns,
  .custombtnshero {
    font-size: 20px;
  }

  .footernav {
    font-size: 25px;
    line-height: 50px;
    text-align: center;
  }

  .imgdivs {
    width: 100px;
    height: 300px;
  }
  .imgdivs img {
    object-fit: cover;
  }

  .demo-text .text {
    font-size: 100px !important;
  }
  .contentdetailsabout {
    padding: 60px;
  }
  .animated-heading {
    font-size: 3.5rem;
  }

  .herosection {
    height: 50vh;
    margin-top: -80px;
  }

  .slidercontent {
    width: 0px !important;
  }

  .workimg img {
    height: 500px;
    width: 380px;
  }

  .slick-arrow {
    display: none !important;
}

.contactheading {
  font-size: 50px;
  
}



}
